# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
*.env

# IDE or editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files and folders
*.swp
*.bak
*.tmp
